body {
  padding: 0;
  margin: 0;
  background: #ddd;
  font-family: sans-serif;
}

.bg {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  max-width: 80%;
  margin: 2em;
  padding: 2em;
  border-radius: .25em;
  background: white;
  box-shadow: 6px 8px 20px #aaa;
}

#ghusername {
  width: 50%;
  padding: .6em 10%;
  border-radius: .5em;
  border-style: groove;
  border: 1px solid #ccc;
  font-size: 1em;
}

#ghsubmitbtn {
  color: black;
  font-size: .8em;
  text-decoration: none;
  background: #eee;
  padding: .6em 1em;
  border: 1px solid #ccc;
  font-size: 1em;
  border-radius: .5em;
}

.app-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.app-text h1, .app-text h2 {
  text-transform: uppercase;

}
