.list li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.li-img img {
  display: block;
  width: 100%;
  height: auto;
}

.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}

.li-head {
  margin: 0;
}

.li-sub {
  margin: 0;
}

/*@media all and (min-width: 45em) {
  .list li {
    float: left;
    width: 50%;
  }
}*/

@media all and (min-width: 75em) {
  .list li {
    width: 33.33333%;
  }
}

table {
  margin-bottom: 44px;
  width: 100%;
}

table:last-child {
  margin-bottom: 0;
}

td {
  padding-bottom: 22px;
  vertical-align: top;
  width: 40%;
}

thead {
  line-height: 44px;
}

tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}

tbody td:first-of-type {
  padding-right: 15px;
}

.error {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
color: #D8000C;
background-color: #FFBABA;
}

#layout {
  display: block;
  width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 15px 25px;
  -webkit-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
  box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
